*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 0;
}

.header
{
    background-color: #004c86;
   
}
.main-header{
  position: fixed;
  z-index: 10;
}
.h3{
    font-size: 5px;
}
.navbar-brand a{
margin-left: 100px;

}
.logo{
   margin: auto;
   text-align: start;
   font-size: 1.5rem;
   color: white;
}
.ver-line{
    margin-right: 1rem;
    height: 1.5rem;
    width: 1px;
    background: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:1200px){
.card{
   width: 30rem;
    height: auto;
}
}
@media (max-width:992px){
    .card{
       width: 25rem;
        height: auto;
    }

}

.carousel-item img{
width: 5rem;
}


.card-img-top {
    min-height: 0.1px;
  }
  
  img.img-thumbnail {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    pointer-events:none;
  }
  
  .text {
    color: rgb(175, 52, 52);
    font-size: 16px;
    padding: 16px 32px;
  }
  
  .img-thumbnail:hover {
    opacity: 0.3;
  }
  
  .img-thumbnail:hover+.middle {
    opacity: 1;
  }
  .icon{
      font-size: 1.2rem;
      font-weight: bolder;
  }
  .class{
    border-top: 1px solid #000;
    background:#004c86;
    width: 100%;
    height: 680px;
    color: #fff;
    
  }
  /* .b{
    margin-top: 10 rem;
  } */
  .copy-right{
    font-weight: lighter;
  }
  .footer-icon ion-icon{
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .footer-icon-1 ion-icon{
    margin-right: 10px;
  }
  .footer-container{
    background: #004c86;
  }
  .card:hover
  {
    cursor: pointer;
    transform:scale(1.03);
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(241, 235, 241); 
  }
  @media (max-width:420px){
    .image5{
       width: 80%;
        height: auto;
    }}